/* LATO FONT */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Figtree:ital,wght@0,400;0,700;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');
/* font-family: 'Crimson Text', serif;
font-family: 'Figtree', sans-serif;
font-family: 'Lato', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #044557;
    overflow: hidden;
}

nav {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.445);
    position: fixed;
    top: -100px;
    left: -100px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 20;
    transition: .3s;
}



.fa-bars {
    position: absolute;
    left: 130px;
    top: 110px;
}

.fa-plus {
    position: absolute;
    left: 20px;
    top: 110px;
}

.rotatenav {
    transform: rotate(-135deg);
}

.plus {
    transform: translateX(-50px)translateY(-115px)
}

.menu {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 750px;
    left: -200px;
    transform: rotate(25deg);

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d0707;
    transition: .5s;
}

.rotate {
    transform: rotate(-25deg)translateX(150px)
}



h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.wrapper {
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 0, 0, 0);

}


.card {
    flex: .25;
    width: 100%;
    height: 100%;
    background-color: bisque;
    border-radius: 50px;
    /* border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%; */
    position: relative;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 1s;
    margin: 20px;
    background-position: center;
    background-size: cover;
}

.active {
    width: 720px;
    flex: 5
}


body>.wrapper>.active {
    width: 720px;
    font-size: 38px;
    color: white;
    background-color: #ffffff28;
    border-radius: 5px
}

.one {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*);

}

.two {
    background-image: url(https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445);

}

.three {
    background-image: url(https://www.morrisanimalfoundation.org/sites/default/files/styles/article/public/2020-03/MBS_DogEvolution_blg_031820.jpg?h=b1512c13&itok=Cqx3F-nn);

}

.four {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS43ropBH6fmjOIJHDsnSm_aydbZXWeml30rQ&usqp=CAU);

}

.five {
    background-image: url(https://www.vetopedia.pl/images/art/1900x791/954.jpg);

}

.card>span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 100;

}

.active>span {
    border-radius: 5%;
    transition: 3s;
    transition-delay: -0.5s;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 40px;

}

/* /////////////////// SEARCH BAR */

.search {
    position: fixed;
    left: 120px;
    z-index: 9999999;
    top: 5px;
}

.searchicon {
    position: relative;
    left: -30px;
    top: 4px;
    font-size: 25px;
    color: #595959;
    cursor: pointer;

}

input {
    width: 35px;
    height: 35px;
    font-size: 18px;
    transition: 0.5s ease;
    opacity: .5;
}


.activesearch {
    width: 550px;
    opacity: 1;
}

@media screen and (min-width: 1700px) {
    .menu {
        top: 500px;
        left: -180px;
    }
}