@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    width: 100vw;
    height: 100vh;
    background-color: #5db0b6;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 0 20px 0;
    color: rgb(190, 45, 120);
}

div.screen {
    width: 99%;
    height: 88.5%;
    border-radius: 15px;
    background-color: rgb(209, 209, 200);
    border: 2px solid black;
    box-shadow: 0px 15px 15px 9px black;
    position: relative;


}

div.topbar {
    width: 99%;
    height: 10%;
    margin-top: .5%;
    border: 1px inset rgb(0, 0, 0);
    box-shadow: 1px 1px 10px 6px black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    padding: 0 10px;

}

p.score {
    font-size: 40px;

}

span.pawn {
    display: inline-block;
    top: 50px;
    left: 50%;
    font-size: 80px;
    position: relative;
}

.screen>img {
    position: absolute;
}