* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 50vh;
    background-color: rgb(194, 181, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

div {
    background-color: rgb(247, 239, 197);
    color: black;
    height: auto;
    width: auto;
    margin-top: 35px;
    padding: 15px 40px;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
}

div:hover {
    background-color: rgb(250, 244, 217);
    color: rgb(90, 90, 90);
    transform: scale(1.05);
    box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.122);
}

div:active {
    transform: scale(0.98);

}